* {
    margin: 0em;
    padding: 0em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    display: flex;
    background: rgba(209,231,254,255);
}
/* The next two block of codes designs the */
.side-panel {
    height: 658px;
    width: 210px;
    justify-content: center;
    margin: 1em 0em 1em 6em ;
    display: flex;
    background: rgba(250,248,249,255);
    /* rgba(250,248,249,255); */
    border-radius: 10% 0% 0% 10% / 3% 46% 54% 3%   ;
}
.main-panel {
    background: rgba(255,255,255,255);
    height: 658px;
    width: 910px;
    margin: 1em 2em 1em 0em ;
    /* margin: .2em; */
    /* border: 2px solid red; */
    border-radius: 0% 2.5% 2.5% 0% / 0% 2.5% 2.5% 0% ;
}
.panel-user-img {
    margin: 5em 0em .5em 1.3em;
    /* : 6em 0em .5em 0em; */
    width: 60px;
    height: 60px;
    border: rgb(44, 54, 194) solid 3px;
    border-radius: 3rem;
}
.user-name {
    margin: 0em 0em 1em 1.5em;
    /* padding-left: 2.7em; */
    font-size: 16px;
}
.user-details {
    display: flex;
    /* margin:0em 1em; */

    /* margin-left: 3.5em; */
    /* 2margin-right: 80px; */
    /* justify-content: space-between; */
}
.user-details h5 {
    font-size: 11px;
    text-transform: capitalize;
}
.user-details p {
    font-size: 10px;
    color: rgba(250,248,249,255);
}
/* .user-details-content {
    margin: 0em 2.5em 0em 0em;
} */
.post {
    margin-right: .5em;
}
.post p {
    margin-left: .2em;
}
.followers {
    margin-right: .5em;
}
.followers p {
    margin-left: 1.3em;
}
.following p {
    margin-left: 1.3em;
}
.panel-nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: rgb(0, 0, 0);

}
.panel-nav img {
    /* border:2px solid blue; */
    padding: .08em 0em 0em .2em;
    height: 12px;
    width: 20px;

}
.panel-nav a:hover {
    cursor: pointer;
}
.panel-nav {
    display: flex;
    flex-direction: column;

    margin-top: 3em;
}
.panel-nav-items {
    display: flex;
    margin-bottom: 1em;
}
input {
    height: 2.3em;
    width: 13.3em;
    border: 1.7px solid red;
    background: transparent;
}
/* .post-btn {
    background: transparent;
    border: none;
    font-size: 11px;
} */
input[type="search"] {
   border: none;
   /* background: transparent; */
   /* margin: 0; */
   /* padding: 7px 8px; */
   font-size: 14px;
   /* color: inherit; */
}

input[type="search"]::placeholder {
    color: rgb(0,0,0);
}
  
.search-btn[type="submit"] {
   text-indent: -999px;
   overflow: hidden;
   width: 20px;
   padding: 0;
   margin: 0em 0em 0em .3em;
   border: 1px solid transparent;
   border-radius: inherit;
   background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
   cursor: pointer;
   opacity: 0.7;
}
.top {
    margin: 3em 3em 0em 3em;
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.search-bar {
    height: 33px;
    width: 215px;
    border-radius: .5em;
    margin: .5em 0em 0em 0em;
    background: rgba(250,248,249,255);
}
.new-post-btn {
    border-radius: .7em;
    height: 1.8em;
    width: 6.2em;
    margin: .7em 0em 0em 0em;
    background: #1a88f2;

}
.new-post-btn:hover {
    cursor: pointer;
}
.new-post-btn img {
    /* border: 1px solid red; */
    /* border-radius: 5px; */
    width: 10x; 
    height: 10px;
    margin: .6em 0em 0em 0.5em;
}
.new-post-btn a {
    color: rgb(255, 255, 255);
    margin: 0em 0em .8em 0em;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 10px;
}
.right-panel {
    margin: 1.5em 1em 0em 0em;
    border: 1.7px solid red;
    float: right;
    width: 220px;
    height: 530px;
}
.right-panel img {
    border-radius: 1em;
    height: 200px;
    width: 160px;
}
.rp-head {
    text-transform:uppercase;
    margin: 1em 0em 0em 0em;
    font-weight: bold;
    font-size: 12px;
}
.rp-lv-2-mut-info {
    display: flex;
}
.rp-lv-2-mut-info span{
    font-weight: bold;
    font-size: 10px;
}
.rp-lv-2-mut-info p {
    font-size: 10px;
}
.rp-lv-2-mut-info div {
    display: flex;
}
.rp-lv3-1 {
    line-height: 1em;
    text-align: justify;
    margin-right: 2em;
    margin-top: 1em;
    font-size: 10px;
}
.rp-lv3-2 {
    line-height: 1em;
    text-align: justify;
    margin-right: 2em;
    font-size: 10px;
    margin-top: 1em;
}
.photo-num {
    margin-right: .5em;
}
.section-one {
    width: 600px;
    margin: 2.5em 3em 0em 3em;
}
.section-two {
    border: 1.7px solid blueviolet;
    margin: 2em;
    width: 600px;
    margin: 2em 3em 0em 3em;
}
.s-1-heading {
    border: 1.7px solid red;
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.s-1-heading-one {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 13px;
    color: rgb(0,0,0);   
}
.s-1-heading-two {
    text-transform: capitalize;
    background: #fbf8f9;
    padding: .5em 0em 0em 0.8em;
    margin-right: 2em;
    font-size: 10px;
    color: #5e5c5d;
    border-radius: 5px;
    width: 8em;
    height: 2em;
}
.s-1-img-vw {
    border: 1.7px solid red;
    width: 600px;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}
.s-1-img-vw img {
    margin: 1em 1em;
    border-radius: 1em;
    width: 120px;
    height: 150px;
}
.section-two p {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 13px;
    color: rgb(0,0,0);  
}
.s-2-img-vw {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.s-2-img-vw img {
    margin: 1em .5em 0em .5em;
    border-radius: 1em;
    width: 180px;
    height: 150px;
}
.rp-lv4 h4 {
    font-weight: bold;
    margin-top: 1.5em;
    font-size: 10px;
}
.rp-lv5 h4 {
    font-weight: bold;
    margin-top: 1.5em;
    font-size: 10px;
}
.rp-lv6 h4 {
    font-weight: bold;
    margin-top: 1.5em;
    font-size: 10px;
}
